{% extends "main/base.html" %}
{% load static %}
{% block title %}Local Una{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
<h1 class="main">All Users</h1>
<div class="users">
{% if user.is_authenticated %}
<a href="{% url 'main:profile' username=user.username %}">
<div class="user">
    <img src="{{user.profile.image.url}}" alt="{{user.usernaem}}" class="profile_img">
    <h1 class="name">{{user.first_name}} {{user.last_name}}</h1>
    <p class="username">Username: {{user.username}}</p>
</div>
</a>
{% endif %}

{% for u in users %}

    {% if u != user %}
        <a href="{% url 'main:profile' username=u.username %}">
            <div class="user">
                <img src="{{u.profile.image.url}}" alt="{{u.usernaem}}" class="profile_img">
                <h1 class="name">{{u.first_name}} {{u.last_name}}</h1>
                <p class="username">Username: {{u.username}}</p>
            </div>
        </a>

    {% endif %}

{% endfor %}
</div>
{% endblock %}
