@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.wave{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    width: 500px;
}

.login-container{
    display: flex;
    align-items: center;
    text-align: center;
}

form{
    width: 360px;
}

.avatar{
    width: 150px;
}

label{
    display: none;
}

form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}


#id_username, #id_password{
    margin: 0.5em;
    width: 80%;
    padding: 0.5em 1em;
    background: none;
    border: 2px #5cdb94 solid;
    border-radius: 25px;
    outline: none;
    font-size: 18px;
}

.btn{
    text-transform: uppercase;
    width: 50%;
    padding: 0.5em 1em;
    background: #5cdb94;
    color: #fff;
    border: 2px #3dac6c solid;
    cursor: pointer;
    border-radius: 25px;
    margin: 0.5em;
    font-size: 18px;
    transition: 0.2s;
    outline: none;
}

.btn:hover{
    color: #3dac6c;
    background: none;
}

@media screen and (max-width: 1050px) {
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form{
        width: 290px;
    }

    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .img{
        display: none;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .wave{
        display: none;
    }

    .login-container{
        justify-content: center;
    }
}
